/**
 * Main time/hex display
 */

body {
  will-change: background;
}

#time {
  display: table-cell;
  padding: 1.5em;
  vertical-align: middle;
  width: 100vw;
}

h1,
h2 {
  font-weight: 300;
  transition: font-size 0.3s;
}

h2 {
  font-size: 2em;
}

#t {
  font-size: 7em;
  margin-bottom: 3rem;
  position: relative;
  opacity: 0;
  -webkit-animation: shiftUp .5s ease-out forwards;

  &::after {
    content: attr(time-postfix);
    font-size: .4em;

    position: absolute;
    margin-left: 20px;
    top: 1.62em;
    width: 0;
  }
}

#h {
  opacity: 0;
  -webkit-animation: shiftUp .5s ease-out .15s forwards;
}

@media all and (max-width: 700px) {
  #t {
    font-size: 3.5em;

    &::after {
      margin-left: 15px;
    }
  }

  #h { font-size: 1.25em; }
}

/* Protects against light backgrounds when using full spectrum */
.full {
  h1,
  h2,
  #panel-toggles {
    text-shadow: 0 1px 4px #555;
  }

  #panel {
    box-shadow: 0 1px 4px #555;
  }
}

li {
  display: inline-block;
  vertical-align: top;

  a {
    display: inline-block;
    margin: 0.5em;

    background-color: #eee;
    border: 1px solid #ddd;
    transition: box-shadow 0.3s;
    will-change: box-shadow;

    color: #1e1e1e;
    font-size: 1rem;

    &:hover {
      box-shadow: 0 0 0 2px #777;
      color: #0e0e0e;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

@for $i from 0 through 50 {
  .item-#{$i} {
    -webkit-animation: shiftUp .5s ease-out #{$i}05ms forwards;
    opacity: 0;
  }
}



/**
 * Options link
 */

#options {
  position: fixed;
  top: 0;
  right: 0;
  display: inline-block;
  height: 40px;
  width: 40px;
  overflow: hidden;

  opacity: 0.4;
  transition: opacity 0.3s, width 0.35s ease-out;
  will-change: opacity, width;

  span {
    display: inline-block;
    margin: 0.6em 0 0 2.5em;
  }

  &::before {
    background: url('chrome-extension://__MSG_@@extension_id__/img/gear.png') no-repeat center center / 12px 12px;
    content: '';
    display: inline-block;
    height: 40px;
    position: fixed;
    width: 40px;
    transition: transform 0.35s ease-out;
  }

  &:hover {
    opacity: 1;
    width: 120px;

    &::before {
      transform: rotate(-45deg);
    }
  }
}



/**
 * Panel toggles
 */

#panel-toggles {
  color: rgba(255,255,255,.4);
  display: block;
  font-size: 0.9em;
  margin-top: 4em;

  a {
    color: rgba(255,255,255,.4);
    padding: 0.25em;
    transition: color 0.3s;
    will-change: color;

    & + a:before {
      color: rgba(255,255,255,.4);
      content: '•';
      margin-right: 0.5em;
    }
  }
}



#panel-toggles a:hover,
.panel-0 #panel-toggle-visited,
.panel-1 #panel-toggle-closed,
.panel-2 #panel-toggle-apps {
  color: #fff;
}


/**
 * Panels
 */

#panel {
  background-color: rgba(255,255,255,.75);
  border-radius: 5px;
  display: none;
  margin-top: 1em;
  width: auto;

  .show-panel & {
    display: inline-block;
  }

  ul {
    display: none;
    font-size: 0;
    max-width: 900px;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
  }
}


/* Most visited (top sites) */

#visited {
  .panel-0 & {
    display: block;
  }

  li {
    text-align: left;
  }

  a {
    height: 2em;
    width: 7em;

    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding: 1em 0.5em 1em 1.85em;

    line-height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}



/* Recently closed */

#closed {
  .panel-1 & {
    display: block;
  }

  li {
    text-align: left;
  }

  a {
    height: 2em;
    width: 7em;

    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding: 1em 0.5em 1em 1.85em;

    line-height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}


/* Apps */

#apps {
  .panel-2 & {
    display: block;
  }

  li a {
    height: 6.5em;
    width: 12em;

    padding: 1em;
  }

  img {
    height: 3em;
    margin-bottom: 0.5em;
  }
}

  .app-name {
    color: #1e1e1e;
    font-size: 1rem;
  }

  #store-link {
    color: #1e1e1e;
    display: block;
    font-size: 1rem;
    margin: 0.5em 0;
    text-align: center;
  }


/**
 * History (past colours)
 */

#history {
  font-size: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

  .past-colour {
    background-color: rgba(0,0,0,.25);
    box-sizing: border-box;
    border-left: 1px solid rgba(255,255,255,.25);
    display: inline-block;
    height: 6px;
    width: 10%;
    position: relative;

    &:first-child {
      border-left: none;
    }

    &::after {
      content: attr(data-hex);
      font-size: 1rem;
      position: absolute;
      bottom: 300%;
      left: 0;
      background: #242424;
      padding: 5px 15px;
      color: #fff;
      white-space: nowrap;
      opacity: 0;
      z-index: -1;
    }

    &::before {
      content: "";
      font-size: 1rem;
      position: absolute;
      width: 0;
      height: 0;
      border-top: 20px solid #242424;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      opacity: 0;
      left: 0;
      bottom: 200%;
      z-index: -1;
    }

    &:hover::after,
    &:hover::before {
      opacity: 1;
      z-index: 0;
    }
  }


/* Animations */

@-webkit-keyframes shiftUp {
  0%   { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0px); }
}

@-webkit-keyframes shiftDown {
  0%   { opacity: 0; transform: translateY(-60px); }
  100% { opacity: 1; transform: translateY(0px); }
}
