/**
 * Main time/hex display
 */

#time {
  display: table-cell;
  padding: 1.5em;
  vertical-align: middle;
  width: 100vw;
}

h1,
h2 {
  font-weight: 300;
  transition: font-size 0.3s;
}

h1 {
  font-size: 7em;
  margin-bottom: 3rem;
}

h2 {
  font-size: 2em;
}

@media all and (max-width: 700px) {
  h1 { font-size: 3.5em; }
  h2 { font-size: 1.25em; }
}

/* Protects against light backgrounds when using full spectrum */
.full h1,
.full h2,
.full #panel-toggles {
  text-shadow: 0 1px 4px #555;
}

li {
  display: inline-block;
  vertical-align: top;
}

li a {
  display: inline-block;
  margin: 0.5em;

  background-color: #eee;
  transition: box-shadow 0.3s;

  color: #1e1e1e;
  font-size: 1rem;
}

  li a:hover {
    box-shadow: 0 0 0 2px #777;
    color: #0e0e0e;
  }

  li a:active {
    transform: scale(0.95);
  }


/**
 * Options link
 */

#options {
  position: fixed;
  top: 0;
  right: 0;

  background: url('chrome-extension://__MSG_@@extension_id__/img/gear.png') no-repeat center center / 12px 12px;
  text-indent: -3000em;
  display: block;
  height: 40px;
  width: 40px;

  opacity: 0.4;
  transition: opacity 0.3s;
}

  #options:hover {
    opacity: 1;
  }


/**
 * Panel toggles
 */

#panel-toggles {
  color: rgba(255,255,255,.4);
  display: block;
  font-size: 0.9em;
  margin-top: 4em;
}

  #panel-toggles a {
    color: rgba(255,255,255,.4);
    padding: 0.25em;
    transition: color 0.3s;
  }

  #panel-toggles a + a:before {
    color: rgba(255,255,255,.4);
    content: '•';
    margin-right: 0.5em;
  }


#panel-toggles a:hover,
.panel-0 #panel-toggle-visited,
.panel-1 #panel-toggle-closed,
.panel-2 #panel-toggle-apps {
  color: #fff;
}


/**
 * Panels
 */

#panel {
  background-color: rgba(255,255,255,.75);
  border-radius: 5px;
  display: none;
  margin-top: 1em;
  width: auto;
}

  .show-panel #panel {
    display: inline-block;
  }

#panel ul {
  display: none;
  font-size: 0;
  max-width: 900px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}


/* Most visited (top sites) */

.panel-0 #visited {
  display: block;
}

  #visited li {
    text-align: left;
  }

  #visited a {
    height: 2em;
    width: 7em;

    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding: 1em 0.5em 1em 1.85em;

    line-height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }


/* Recently closed */

.panel-1 #closed {
  display: block;
}

  #closed li {
    text-align: left;
  }

  #closed a {
    height: 2em;
    width: 7em;

    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding: 1em 0.5em 1em 1.85em;

    line-height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }


/* Apps */

.panel-2 #apps {
  display: block;
}

  #apps li a {
    height: 11em;
    width: 15em;

    padding: 1em;
  }

  .app-name {
    color: #1e1e1e;
    font-size: 1rem;
  }

  #store-link {
    color: #1e1e1e;
    display: block;
    font-size: 1rem;
    margin: 0.5em 0;
    text-align: center;
  }
