@font-face {
  font-family: 'Open Sans Light';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenSans-Light.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #fff;
}

html,
body {
  height: 100vh;
}

body {
  color: #fff;
  display: table;
  font: 300 16px "Open Sans Light", sans-serif;
  transition: background-color 0.8s;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

#time {
  display: table-cell;
  padding: 1.5em;
  vertical-align: middle;
  width: 100vw;
}

h1,
h2 {
  font-weight: 300;
  transition: font-size 0.3s;
}

h1 {
  font-size: 7em;
  margin-bottom: 3rem;
}

h2 {
  font-size: 2em;
}

@media all and (max-width: 700px) {
  h1 { font-size: 3.5em; }
  h2 { font-size: 1.25em; }
}

#chrome-contents-toggle {
  color: rgba(255,255,255,.4);
  display: block;
  font-size: 0.9em;
  margin-top: 4em;
  transition: color 0.3s;
}

  #chrome-contents-toggle:hover {
    color: #fff;
  }

#chrome-contents {
  display: none;
  margin-top: 1em;
}

  .show-chrome-contents #chrome-contents {
    display: block;
  }

ul#mostVisited {
  background-color: #fff;
  border-radius: 5px;
  font-size: 0;
  max-width: 900px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

  #mostVisited li {
    display: inline-block;
    list-style: none;
    text-align: left;
  }

  #mostVisited a {
    display: inline-block;
    height: 2em;
    width: 7em;
    margin: 0.5em;

    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding: 1em 0.5em 1em 1.85em;
    transition: box-shadow 0.3s;

    color: #1e1e1e;
    font-size: 1rem;
    line-height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

    #mostVisited a:hover {
      box-shadow: 0 0 0 2px #777;
      color: #0e0e0e;
    }

    #mostVisited a:active {
      transform: scale(0.95);
    }
