abbr::after {
  color: #777;
  content: "[?]";
  font-size: 0.8em;
  margin-left: 0.75em;
}

h2 {
  margin: 1em 0 0.5em;
}

label {
  display: block;
  margin: 0.75em 0;
}

input[type='number'],
input[type='color'] {
  border: 1px solid #555;
  border-radius: 3px;
  margin-left: 0.75em;
}

input[type='number'] {
  padding: 0.25em 0.5em;
}

#options {
  margin: 0 auto;
  max-width: 650px;
  padding: 2em;
  text-align: left;
  width: 100%;
}

#save {
  background-color: #fff;
  border-radius: 5px;
  color: #111115;
  display: inline-block;
  margin: 1em 0;
  padding: 0.25em 1em;
}

#credits {
  display: block;
  font-size: 0.85em;
}

  #credits a {
    color: #888;
    display: block;
    transition: color 0.3s;
  }

    #credits a:hover {
      color: #fff;
    }
