abbr {
  border-bottom: 1px dotted #aaa;
}

h2 {
  margin: 1em 0 0.5em;
}

label {
  display: block;
  margin: 0.75em 0;
}

#options {
  display: table-cell;
  padding: 2em;
  text-align: left;
  width: 100%;
}

#save {
  background-color: #fff;
  border-radius: 5px;
  color: #111115;
  display: inline-block;
  margin: 1em 0;
  padding: 0.25em 1em;
}
