// Animations
@keyframes shiftUp {
    0% {
        opacity: 0;
        transform: translateY(1.25rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
