@charset "UTF-8";

@import 'variables';
@import 'fonts';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: $light-grey;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    background-color: $dark-grey;
    color: $white;
    font-size: 16px;
}

body {
    font: 300 1em/1.5 'Open Sans Light', 'Helvetica', 'Arial', sans-serif;
}

@media all and (min-width: 2000px) {
    html { font-size: 20px; }
}

a {
    color: $white;
    cursor: pointer;
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2 {
    font-weight: 300;
    transition: font-size 0.3s;
}

h2 {
    font-size: 2em;
}
