$white: #fff;
$black: #000;
$dark-grey: #111;
$grey: lighten($dark-grey, 10%);
$light-grey: lighten($dark-grey, 50%);

:root {
  --z-below:    -1;
  --z-default:   0;
  --z-above:     1;
  --z-sidebar:  10;
  --z-top:      20;
}
