@charset "UTF-8";

@font-face {
    font-family: 'Open Sans Light';
    src: url('../assets/fonts/OpenSans-Light.ttf') format('truetype');
}

$white: #fff;
$dark-grey: #111;
$light-grey: lighten($dark-grey, 50%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: $light-grey;
}

html,
body {
    height: 100vh;
    width: 100%;
}

body {
    background-color: $dark-grey;
    color: $white;
    font: 300 16px/1.5 'Open Sans Light', 'Helvetica', 'Arial', sans-serif;
}

a {
    color: $white;
    cursor: pointer;
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2 {
    font-weight: 300;
}

h2 {
    font-size: 2em;
}
