@import 'core';
@import 'animations';

@import 'panels';
@import 'history';


h1,
h2 {
    transition: font-size 0.3s;
}

/**
 * Main time/hex display
 */

body {
    background-position: center center;
    background-size: cover;
    transition: background-color 0.8s;
}

    .notransition {
        *,
        *::before,
        *::after {
            animation: none !important;
            transition: none !important;
            opacity: 1 !important;
        }
    }

.colours {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

    .colours__bg {
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        transition: background-color 0.8s;
        width: 100vw;
        will-change: background-color;
        z-index: -1;
    }

.colours__time {
    animation: shiftUp 0.5s ease-out forwards;
    font-size: 7em;
    margin-bottom: 3rem;
    opacity: 0;
    position: relative;
}

    .colours__time__postfix {
        font-size: 0.4em;
        margin-left: 20px;
        position: absolute;
        top: 1.62em;
        width: 0;
    }

.colours__hex {
    animation: shiftUp 0.5s ease-out 0.15s forwards;
    opacity: 0;
}

@media all and (max-width: 700px) {
    .colours__time {
        font-size: 3.5em;
    }

        .colours__time__postfix {
            margin-left: 15px;
        }

    .colours__hex { font-size: 1.25em; }
}

.info {
    text-align: center;
}

/* Protects against light backgrounds when using full spectrum */
.full {
    h1,
    h2,
    #panel-toggles {
        text-shadow: 0 1px 4px #555;
    }

    #panel {
        box-shadow: 0 1px 4px #555;
    }
}

li {
    display: inline-block;
    vertical-align: top;

    &:active {
        transform: scale(0.95);
    }

    a {
        background-color: #eee;
        border: 1px solid #ddd;
        color: #1e1e1e;
        display: inline-block;
        font-size: 1rem;
        margin: 0.5em;
        transition: box-shadow 0.3s;
        will-change: box-shadow;

        &:hover {
            box-shadow: 0 0 0 2px #777;
            color: #0e0e0e;
        }
    }
}

@for $i from 0 through 50 {
    .item-#{$i} {
        animation: shiftUp 0.3s ease-out ($i * 0.03s) forwards;
        opacity: 0;
    }
}


/**
 * Options link
 */

.opt {
    display: inline-block;
    height: 40px;
    opacity: 0.4;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 0.3s, width 0.35s;
    width: 40px;
    will-change: opacity, width;

    span {
        display: inline-block;
        line-height: 40px;
        margin-left: 2.5em;
    }

    &::before {
        background: no-repeat center center / 12px 12px;
        content: '';
        display: inline-block;
        height: 40px;
        position: fixed;
        width: 40px;
    }

    &:hover {
        opacity: 1;
    }
}

#options {
    top: 0;

    &::before {
        background-image: url('../assets/img/gear.svg');
        transition: transform 0.35s;
    }

    &:hover {
        width: 120px;

        &::before {
            transform: rotate(-45deg);
        }
    }
}

#download {
    top: 30px;

    &::before {
        background-image: url('../assets/img/image.svg');
    }

    &:hover {
        width: 155px;
    }
}
