@import 'core';
@import 'animations';

h1,
h2 {
    transition: font-size 0.3s;
}

/**
 * Main time/hex display
 */

body {
    background-position: center center;
    background-size: cover;
    transition: background-color 0.8s;
}

    .notransition {
        *,
        *::before,
        *::after {
            animation: none !important;
            transition: none !important;
            opacity: 1 !important;
        }
    }

.colours {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    transition: background-color 0.8s;
    width: 100%;
    will-change: background-color;
}

.colours__time {
    animation: shiftUp 0.5s ease-out forwards;
    font-size: 7em;
    margin-bottom: 3rem;
    opacity: 0;
    position: relative;
}

    .colours__time__postfix {
        font-size: 0.4em;
        margin-left: 20px;
        position: absolute;
        top: 1.62em;
        width: 0;
    }

.colours__hex {
    animation: shiftUp 0.5s ease-out 0.15s forwards;
    opacity: 0;
}

@media all and (max-width: 700px) {
    .colours__time {
        font-size: 3.5em;
    }

        .colours__time__postfix {
            margin-left: 15px;
        }

    .colours__hex { font-size: 1.25em; }
}

.info {
    text-align: center;
}

/* Protects against light backgrounds when using full spectrum */
.full {
    h1,
    h2,
    #panel-toggles {
        text-shadow: 0 1px 4px #555;
    }

    #panel {
        box-shadow: 0 1px 4px #555;
    }
}

li {
    display: inline-block;
    vertical-align: top;

    &:active {
        transform: scale(0.95);
    }

    a {
        background-color: #eee;
        border: 1px solid #ddd;
        color: #1e1e1e;
        display: inline-block;
        font-size: 1rem;
        margin: 0.5em;
        transition: box-shadow 0.3s;
        will-change: box-shadow;

        &:hover {
            box-shadow: 0 0 0 2px #777;
            color: #0e0e0e;
        }
    }
}

@for $i from 0 through 50 {
    .item-#{$i} {
        animation: shiftUp 0.3s ease-out ($i * 0.03s) forwards;
        opacity: 0;
    }
}


/**
 * Options link
 */

.opt {
    display: inline-block;
    height: 40px;
    opacity: 0.4;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 0.3s, width 0.35s;
    width: 40px;
    will-change: opacity, width;

    span {
        display: inline-block;
        line-height: 40px;
        margin-left: 2.5em;
    }

    &::before {
        background: no-repeat center center / 12px 12px;
        content: '';
        display: inline-block;
        height: 40px;
        position: fixed;
        width: 40px;
    }

    &:hover {
        opacity: 1;
    }
}

#options {
    top: 0;

    &::before {
        background-image: url('../assets/img/gear.png');
        transition: transform 0.35s;
    }

    &:hover {
        width: 120px;

        &::before {
            transform: rotate(-45deg);
        }
    }
}

#download {
    top: 30px;

    &::before {
        background-image: url('../assets/img/download.png');
    }

    &:hover {
        width: 155px;
    }
}


/**
 * Panel toggles
 */

#panel-toggles {
    color: rgba($white, 0.4);
    display: block;
    font-size: 0.9em;
    margin-top: 4em;

    a {
        color: rgba($white, 0.4);
        padding: 0.25em;
        transition: color 0.3s;
        will-change: color;

        & + a:before {
            color: rgba($white, 0.4);
            content: '•';
            margin-right: 0.5em;
        }
    }
}

#panel-toggles a:hover,
.panel-0 #panel-toggle-visited,
.panel-1 #panel-toggle-closed,
.panel-2 #panel-toggle-apps,
.panel-3 #panel-toggle-shortcuts {
    color: $white;
}


/**
 * Panels
 */

#panel {
    background-color: rgba($white, 0.75);
    border-radius: 5px;
    // display: none;
    margin-top: 1em;
    width: auto;

    .show-panel & {
        display: inline-block;
    }

    ul {
        // display: none;
        font-size: 0;
        max-width: 900px;
        margin: 0 auto;
        padding: 0.5rem;
        text-align: center;
    }
}

#visited,
#closed,
#shortcuts {
    li {
        text-align: left;
    }

    a {
        background-position: 0.5em center;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        height: 4em;
        line-height: 2em;
        overflow: hidden;
        padding: 1em 0.5em 1em 1.85em;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 10em;
    }
}


/* Most visited (top sites) */

.panel-0 #visited {
    display: block;
}


/* Recently closed */

.panel-1 #closed {
    display: block;
}

#no-closed {
    color: #1e1e1e;
    font-size: 0.9rem;
    padding: 0.5em 1em;
    text-align: center;
}


/* Apps */

#apps {
    .panel-2 & {
        display: block;
    }

    li a {
        height: 6.5em;
        padding: 1em;
        width: 12em;
    }

    img {
        height: 3em;
        margin-bottom: 0.5em;
    }
}

    .app-name {
        color: #1e1e1e;
        font-size: 1rem;
    }

    #store-link {
        color: #1e1e1e;
        display: block;
        font-size: 0.9rem;
        margin: 0.5em 0;
        text-align: center;
    }


/* Shortcuts */

.panel-3 #shortcuts {
    display: block;
}


/**
 * History (past colours)
 */

.history {
    bottom: 0;
    font-size: 0;
    left: 0;
    position: fixed;
    width: 100%;
}

    .past-colour {
        background-color: rgba(0,0,0,.25);
        border-left: 1px solid rgba($white, 0.25);
        box-sizing: border-box;
        display: inline-block;
        height: 6px;
        position: relative;
        width: 10%;

        &:first-child {
            border-left: none;
        }

        &::after {
            background: #242424;
            bottom: 300%;
            color: $white;
            content: attr(data-hex);
            font-size: 1rem;
            left: 0;
            opacity: 0;
            padding: 5px 15px;
            position: absolute;
            white-space: nowrap;
            z-index: -1;
        }

        &::before {
            content: '';
            border-left: 0.75em solid transparent;
            border-right: 0.75em solid transparent;
            border-top: 0.75em solid #242424;
            bottom: 200%;
            font-size: 1rem;
            height: 0;
            left: 0;
            opacity: 0;
            position: absolute;
            width: 0;
            z-index: -1;
        }

        &:hover::after,
        &:hover::before {
            opacity: 1;
            z-index: 0;
        }
    }
