// Options links
.colours__btns {
  position: fixed;
  right: 0;
  top: 0;
  z-index: var(--z-above);
}

  .colours__btn {
    display: block;
    height: 2.25em;
    opacity: 0.4;
    transition: opacity 0.3s;
    width: 2.5em;

    svg {
      height: 0.7em;
      width: 0.7em;

      > * {
        fill: #fff;
      }
    }

    &:hover {
      opacity: 1;
    }
  }

  .colours__btn--options {
    transition: transform 0.35s ease-out;

    &:hover {
      transform: rotate(180deg);
    }
  }
