// Toggles
.panels {
  margin: 1em auto 0;
  max-width: 60em;
  width: auto;

  .tabs {
    color: rgba($white, 0.4);
    display: block;
    font-size: 0.9em;
    margin: 4em 0 1em;
  }

  .tabs__tab {
    color: rgba($white, 0.5);
    contain: content;
    cursor: pointer;
    display: inline-block;
    padding: 0.25em;
    transition: color 0.3s;
    will-change: color;

    & + .tabs__tab::before {
      color: inherit;
      content: '•';
      margin-right: 0.5em;
    }
  }

  .tabs__tab:hover,
  .tabs__tab--active {
    color: $white;
  }
}

// Panel
.panels__panel {
  align-items: center;
  background-color: rgba($white, 0.75);
  border-radius: 5px;
  contain: content;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.5rem;

  li {
    contain: content;
    display: flex;
    flex-direction: column;
    text-align: left;

    a {
      background-color: #eee;
      border: 1px solid #ddd;
      color: $dark-grey;
      display: inline-block;
      font-size: 1rem;
      margin: 0.5rem;
      transition: box-shadow 0.3s;
      will-change: box-shadow;

      &:hover {
        box-shadow: 0 0 0 2px #777;
        color: #0e0e0e;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }

  a {
    background-position: 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    height: 4rem;
    line-height: 2rem;
    overflow: hidden;
    padding: 1rem 0.5rem 1rem 1.85rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 10rem;

    @media (max-width: 600px) {
      background-position: center 0.5rem;
      font-size: 0.85rem !important;
      margin: 0.25rem !important;
      padding: 1.75rem 0.5rem;
      text-align: center;
      width: 6rem;
    }
  }
}

.panels__panel__message {
  color: $dark-grey;
  display: block;
  font-size: 0.9rem;
  padding: 0.5em 1em;
  text-align: center;
  width: 100%;
}

// Apps
.panels__panel--apps {
  li {
    height: 10em;
    text-align: center;

    a {
      align-items: center;
      display: flex;
      flex-flow: column nowrap;
      height: 100%;
      justify-content: center;
      line-height: 1.25;
      padding: 1em;
      white-space: normal;
      width: 15em;
    }
  }

  img {
    height: 3em;
    margin-bottom: 0.5em;
    width: 3em;
  }
}

  .panels__panel--apps__name {
    color: $dark-grey;
    font-size: 1rem;
  }

// Other devices
.panels__panel--devices {
  > li {
    width: 100%;

    + li {
      margin-top: 1em;
    }
  }

  ul {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}

  .panels__panel--devices__name {
    color: $dark-grey;
    text-align: center;
  }

// Panel items
@for $i from 0 through 50 {
  .item-#{$i} {
    animation: fadeIn 0.3s ease-in ($i * 0.03s) forwards;
    opacity: 0;
  }
}

// No favicons option
.panels--nofavicons {
  .panels__panel a {
    background-image: none !important;
    padding: 1rem 0.5rem;
  }

  .panels__panel--apps {
    li {
      height: auto;
    }

    img {
      display: none;
    }
  }
}
