.saved_colours {
  overflow: auto;
}

.saved_colour {
  border: 1px solid rgba($light-grey, 0.5);
  color: $dark-grey;
  contain: content;
  font-size: 1.15em;
  margin: 0.5rem 0;
  padding: 1rem 0.5rem;
  position: relative;

  &.is_dark {
    color: $white;
  }
}

  .saved_colour--remove {
    background: none;
    border: 0;
    cursor: pointer;
    font-size: 0;
    height: 1.5rem;
    line-height: 1.5;
    opacity: 0.5;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: opacity 0.3s;
    width: 1.5rem;

    &:hover {
      opacity: 1;
    }

    svg {
      fill: $white;
      height: 0.5rem;
      width: 0.5rem;
    }
  }
