.sidebar {
  background: #333;
  bottom: 0;
  max-width: 250px;
  padding: 2em 1em;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
  width: 100%;
  will-change: transform;
  z-index: 100000;
}

.sidebar--open {
  pointer-events: auto;
  transform: none;
}

.sidebar__toggle {
  background: #555;
  cursor: pointer;
  height: 2em;
  position: fixed;
  right: 0;
  top: 0;
  width: 2em;
}

.sidebar__pane {
  max-height: 100%;
  overflow: auto;
}
