label {
  display: block;
  margin: 0.75em 0;
}

input,
select {
  background: $white;
  border: 1px solid $light-grey;
  border-radius: 3px;
  font: inherit;
  padding: 0.25em 0.5em;
}

input[type='radio'],
input[type='checkbox'] {
  margin-right: 0.75em;
}

input[type='color'],
input[type='text'],
input[type='number'],
select {
  margin-left: 0.75em;
}

input[type='text'] {
  width: 20em;
}

input[type='color'] {
  height: 1.5em;
  padding: 0;
}

input[type='range'] {
  -webkit-appearance: none;
  background: $light-grey;
  border-radius: 2px;
  display: inline-block;
  height: 0.4em;
  margin-right: 0.75em;
  padding: 0;
  width: 15em;
  vertical-align: middle;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: $light-grey;
    border: 3px solid $grey;
    border-radius: 50%;
    height: 1.15em;
    transition: background-color 0.3s;
    width: 1.15em;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: ew-resize;

    &::-webkit-slider-thumb {
      background-color: $white;
    }
  }
}
