@import 'core/core';

@import 'options/inputs';
@import 'options/tabs';


.options {
    margin: 0 auto;
    max-width: 650px;
    padding: 2em;
    width: 100%;
}

.options__credits {
    margin-top: 2em;

    a {
        color: $light-grey;
        display: block;
        font-size: 0.85em;
        margin: 0.5em 0;
        transition: color 0.25s;

        &:hover {
            color: $white;
        }
    }
}

.options__header {
    border-bottom: 1px solid $light-grey;
    padding-bottom: 1rem;
}

    .options__header__subtitle {
        color: $light-grey;
        font-size: 0.85em;
        margin-top: 0.75rem;
    }

.options__content {
    margin-left: 1.5em;
}

abbr {
    user-select: none;

    strong {
        line-height: 1.25;
    }

    div {
        border: 1px solid $light-grey;
        display: none;
        margin-left: 2.5em;
        margin-top: -1em;
        max-width: 25em;
        padding: 0.5em 1.25em;
        z-index: 10;
    }

    &::after {
        color: $light-grey;
        content: '[?]';
        font-size: 0.8em;
        margin-left: 0.75em;
    }

    &:hover div {
        background: $white;
        color: $dark-grey;
        display: inline-block;
        position: absolute;

        &::before {
            border-bottom: 0.75em solid transparent;
            border-right: 0.75em solid $white;
            border-top: 0.75em solid transparent;
            content: '';
            font-size: 1rem;
            height: 0;
            left: -0.5em;
            position: absolute;
            top: 1.25em;
            width: 0;
        }
    }
}
