// Options links

.colours__opts {
    position: fixed;
    right: 0;
    top: 0;
}

    .colours__opts__opt {
        display: block;
        opacity: 0.4;
        transition: opacity 0.3s;

        &::before {
            background: no-repeat center center / 0.75em 0.75em;
            content: '';
            display: block;
            height: 2.25em;
            width: 2.5em;
        }

        &:hover {
            opacity: 1;
        }
    }

.colours__opts__opt--options {
    &::before {
        background-image: url('../assets/img/gear.svg');
        transition: transform 0.35s ease-out;
    }

    &:hover::before {
        transform: rotate(180deg);
    }
}

.colours__opts__opt--download {
    &::before {
        background-image: url('../assets/img/image.svg');
    }
}
