// Toggles

.panels__toggles {
    color: rgba($white, 0.4);
    display: block;
    font-size: 0.9em;
    margin-top: 4em;

    a {
        color: rgba($white, 0.5);
        padding: 0.25em;
        transition: color 0.3s;
        will-change: color;

        & + a:before {
            color: inherit;
            content: '•';
            margin-right: 0.5em;
        }

        &:hover {
            color: $white;
        }
    }

    .panels__toggles--active {
        color: $white;
    }
}


// Panel

.panels__panel {
    margin: 1em auto 0;
    max-width: 60em;
    width: auto;

    ul {
        align-items: center;
        background-color: rgba($white, 0.75);
        border-radius: 5px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 0 auto;
        padding: 0.5rem;
    }

    li {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    a {
        background-position: 0.5em center;
        background-repeat: no-repeat;
        background-size: 1em 1em;
        height: 4em;
        line-height: 2em;
        overflow: hidden;
        padding: 1em 0.5em 1em 1.85em;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 10em;
    }
}

.panels__panel__message {
    color: #1e1e1e;
    display: block;
    font-size: 0.9rem;
    padding: 0.5em 1em;
    text-align: center;
    width: 100%;
}


// Apps

.panels__app {
    li {
        text-align: center;

        a {
            height: auto;
            line-height: 1.25;
            padding: 1em;
            white-space: normal;
            width: 15em;
        }
    }

    img {
        height: 3em;
        margin-bottom: 0.5em;
    }

    .panels__panel__message {
        width: 100%;
    }
}

    .panels__app__name {
        color: #1e1e1e;
        font-size: 1rem;
    }


// Panel items

li {
    display: inline-block;
    vertical-align: top;

    &:active {
        transform: scale(0.95);
    }

    a {
        background-color: #eee;
        border: 1px solid #ddd;
        color: #1e1e1e;
        display: inline-block;
        font-size: 1rem;
        margin: 0.5em;
        transition: box-shadow 0.3s;
        will-change: box-shadow;

        &:hover {
            box-shadow: 0 0 0 2px #777;
            color: #0e0e0e;
        }
    }
}

@for $i from 0 through 50 {
    .item-#{$i} {
        animation: shiftUp 0.3s ease-out ($i * 0.03s) forwards;
        opacity: 0;
    }
}
