name: Build
on:
    push:
        branches:
            - main
    pull_request:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

permissions:
    contents: read

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - uses: jdx/mise-action@v3

            - run: npm ci
            - run: npm run format:check
            - run: npm run zip
